@import "colors";

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: $dark;
}


.button {
  padding: 14px 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: $base-color;
  border-radius: 12px;
  border: solid 2px $base-color;
  cursor: pointer;
  transition: 0.15s;
  width: fit-content;
  white-space: nowrap;
}

.button:hover {
  border: solid 2px #7FABED;
}

.button.disabled {
  background: #B3B3B3;
  border-color: #B3B3B3;
  pointer-events: none;
}

.button.loading {
  pointer-events: none;
  color: $base-color;
  position: relative;
}

.button.loading:after {
  content: url("../images/icons/loader.svg");
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
}

.logo {
  pointer-events: none;
}

.header {
  height: 136px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(128.52deg, #FFFFFF -42.56%, #EEF9FC 134.44%);
  box-shadow: 0 6px 10px rgba(18, 55, 111, 0.15);

  &__container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1250px) {
      padding: 0 20px;
    }
  }

  &__select-lang {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 45px;
    cursor: pointer;

    @media screen and (max-width: 500px) {
      margin-right: 0;
      margin-left: 15px;
    }


    svg {
      margin-left: 12px;
      transition: 0.25s;
    }

    svg.active {
      transform: rotate(180deg);
    }

    p {
      font-weight: 500;
      font-size: 16px;
      color: $base-dark;
      margin: 0;
      text-transform: uppercase;
    }
  }

  &__lang-list {
    display: none;
    position: absolute;
    background: white;
    flex-direction: column;
    border-radius: 8px;
    right: 20px;
    top: 15px;
    box-shadow: 0 6px 10px rgba(18, 55, 111, 0.15);

    @media screen and (max-width: 500px) {
      right: 5px;
    }

    p {
      margin: 5px 10px;
      transition: 0.25s;
    }

    p:hover {
      transform: scale(1.2);
    }
  }

  &__lang-list.active {
    display: flex;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__help-button {
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(115.85deg, #FFFFFF 0%, #EEF9FC 100%);

  &__content {
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    @media screen and (max-width: 1250px) {
      padding: 0 20px;
    }

    background: left 44% top 3% no-repeat url('../images/icons/background-icons/1.svg'),
    right 3% top 16% no-repeat url('../images/icons/background-icons/2.svg'),
    left top 17% no-repeat url('../images/icons/background-icons/3.svg'),
    right top 37% no-repeat url('../images/icons/background-icons/4.svg'),
    left 5% bottom 10% no-repeat url('../images/icons/background-icons/5.svg'),
    right bottom 11% no-repeat url('../images/icons/background-icons/6.svg');

    @media screen and (max-width: 1000px) {
      background: left 44% top 1% no-repeat url('../images/icons/background-icons/1.svg'),
      right 3% top 12% no-repeat url('../images/icons/background-icons/2.svg'),
      left 2% top 13% no-repeat url('../images/icons/background-icons/3.svg'),
      right 2% top 37% no-repeat url('../images/icons/background-icons/4.svg'),
      left 5% bottom 10% no-repeat url('../images/icons/background-icons/5.svg'),
      right bottom 11% no-repeat url('../images/icons/background-icons/6.svg');
    }

    @media screen and (max-width: 800px) {
      background: left 24% top 0.5% no-repeat url('../images/icons/background-icons/1.svg'),
      right 3% top 18% no-repeat url('../images/icons/background-icons/2.svg'),
      left 2% top 17% no-repeat url('../images/icons/background-icons/3.svg'),
      right 2% top 37% no-repeat url('../images/icons/background-icons/4.svg'),
      left 5% bottom 10% no-repeat url('../images/icons/background-icons/5.svg'),
      right bottom 11% no-repeat url('../images/icons/background-icons/6.svg');
    }

    @media screen and (max-width: 450px) {
      background: left 4% top 0.1% no-repeat url('../images/icons/background-icons/1.svg'),
      right 3% top 10% no-repeat url('../images/icons/background-icons/2.svg'),
      left 2% top 17% no-repeat url('../images/icons/background-icons/3.svg'),
      right 2% top 37% no-repeat url('../images/icons/background-icons/4.svg'),
      left 5% bottom 11.5% no-repeat url('../images/icons/background-icons/5.svg'),
      right bottom 8% no-repeat url('../images/icons/background-icons/6.svg');
    }

  }

  &__header-img {
    border-radius: 40px;
    pointer-events: none;
    user-select: none;
  }

  &__header-img-container {
    display: flex;
    justify-content: center;
  }

  &__page-title-container {
    margin-top: 80px;

    @media screen and (max-width: 500px) {
      margin-top: 0;
    }
  }

  &__page-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;


    @media screen and (max-width: 768px) {
      margin-bottom: 140px;
      align-items: center;

      h1 {
        text-align: center;
      }
    }

    h1 {
      font-weight: 700;
      font-size: 42px;
    }

    p {
      font-weight: 700;
      font-size: 24px;
    }
  }

  &__who-we-are {
    margin-top: 140px;


    h2 {
      font-weight: 700;
      font-size: 34px;
      text-align: center;
    }

    &__feedback.second {
      @media screen and (max-width: 768px) {
        margin-top: 100px;
      }
    }

    &__feedback {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 50px;

      p {
        text-align: center;
        margin: 0;
      }

      p:first-child {
        font-weight: 700;
        font-size: 24px;
        color: $base-color;
        margin-bottom: 24px;
      }

      button {
        margin-top: 24px;
      }
    }

  }

  &__who-we-are > p {
    margin-top: 40px;
    font-weight: 500;
    font-size: 20px;
  }

  &__what-we-do {
    margin-top: 140px;

    h2 {
      font-weight: 700;
      font-size: 34px;
      text-align: center;
      margin: 0;
      margin-bottom: 40px;
    }

    p {
      font-weight: 600;
      font-size: 24px;
    }

    li {
      font-weight: 400;
      font-size: 20px;
    }

    &__photo-set {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 20px;

      img {
        pointer-events: none;
        user-select: none;
      }

      @media screen and (max-width: 750px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
      }

      @media screen and (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;

        div {
          display: flex;
          justify-content: center;
        }
      }

      div {
        border-radius: 20px;

        img {
          border-radius: 20px;
        }
      }
    }
  }

  &__socials-info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-weight: 600;
      font-size: 24px;
      margin: 0;
      text-align: center;
    }

    div {
      margin-top: 34px;
      display: flex;
      width: 300px;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 400px) {
        width: 250px;
      }
    }
  }

  &__financial-aid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;

    h3 {
      font-weight: 700;
      font-size: 34px;
      margin: 0;
      text-align: center;
    }

    p {
      margin: 0;
      margin-top: 24px;
      font-weight: 400;
      font-size: 20px;
      text-align: center;
    }

    button {
      margin-top: 24px;
    }
  }

  &__our-team {

    margin: 140px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-weight: 700;
      font-size: 34px;
      margin: 0;
    }

    div {
      display: flex;
      margin-top: 40px;

      @media screen and (max-width: 850px) {
        flex-direction: column;
      }

      a {
        display: flex;
        flex-direction: column;
        height: 134px;
        width: 380px;
        border: 1px solid #D1C4C4;
        border-radius: 10px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        margin: 10px;

        @media screen and (max-width: 850px) {
          width: 300px;
        }

        p:first-child {
          font-weight: 700;
          font-size: 24px;

          color: $dark;
        }

        p:last-child {
          font-weight: 500;
          font-size: 20px;
          color: $base-color;
          text-decoration-line: underline;
        }
      }
    }
  }

  .footer {
    background-color: #4E4D4D;
    width: 100%;
    display: flex;
    justify-content: center;

    &__container {
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      width: 100%;
      @media screen and (max-width: 1250px) {
        padding: 0 20px;
        padding-top: 40px;
      }

      &__first {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 32px;
        border-bottom: 1px solid white;

        @media screen and (max-width: 830px) {
          flex-direction: column;
        }

        &__socials {
          display: flex;

          @media screen and (max-width: 830px) {
            margin: 30px 0;
          }

          @media screen and (max-width: 450px) {
            flex-direction: column;
            align-items: center;
            div {
              margin: 0 !important;
            }
          }

          p {
            font-weight: 400;
            font-size: 16px;
            color: white;
            margin: 0;

            @media screen and (max-width: 450px) {
              margin-bottom: 20px;
            }

          }
        }

        &__socials > div {
          display: flex;
          width: 100px;
          justify-content: space-between;
          align-items: center;
          margin-left: 22px;
        }
      }

      &__second {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        @media screen and (max-width: 400px) {
          flex-direction: column;
        }

        p {
          color: #D1C4C4;
          font-weight: 400;
          font-size: 16px;
          margin: 0;
          @media screen and (max-width: 400px) {
            margin-bottom: 20px;
          }
        }

        a {
          color: #D1C4C4;
          font-weight: 400;
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
}

.close-icon {
  cursor: pointer;
  transition: .25s;
  padding: 5px;
}

.close-icon:hover {
  transform: scale(1.1);
}

.bank-transfer-control {
  display: flex;
  margin-bottom: 30px;

  @media screen and (max-width: 991px) {
    width: 100%;
    justify-content: center;
    margin-top: 100px;
  }

  div {
    height: 90px;
    width: 90px;
    border-radius: 100px;
    border: 1px solid $base-color;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    cursor: pointer;
    margin: 12px;
    transition: .25s;

    @media screen and (max-width: 400px) {
      height: 70px;
      width: 70px;

      p {
        font-size: 14px !important;
      }
    }

    p {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
      color: $base-color;
    }
  }

  div:hover {
    transform: scale(1.1);
  }
}

.bank-transfer-text {
  &__first {
    font-weight: 600;
    font-size: 24px;
  }

  &__second {
    font-weight: 500;
    font-size: 20px;
  }
}

.bank-transfer-button.active {
  background-color: $base-color;

  p {
    color: white;
  }

}

.bank-transfer-details-text {
  word-break: break-word;
}

.input-filed {
  margin: 8px;
  @media screen and (max-width: 1000px) {
    margin-top: 20px;
  }

  &__error {
    color: #E32B2B;
    position: absolute;
    left: 0;
    top: 65px;
  }

  &__error-border {
    border: solid 1px #E32B2B !important;
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    margin-bottom: 8px;
  }

  input {
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 8px;
    height: 60px;
    padding-left: 10px;
    outline: none;
    transition: .25s;
    width: 100%;
  }

  input:focus {
    border: 1px solid $base-color;
  }

}

.second-input-filed {
  margin-top: 50px;

  &__error {
    color: #E32B2B;
    position: absolute;
    left: 0;
    top: 65px;
  }

  &__error-border {
    border: solid 1px #E32B2B !important;
  }

  &__name {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    margin-bottom: 8px;
  }

  &__sub-name {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    margin-bottom: 8px;
  }

  input {
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 8px;
    height: 60px;
    padding-left: 10px;
    outline: none;
    transition: .25s;
    width: 100%;
  }

  input:focus {
    border: 1px solid $base-color;
  }

}

.select-filed {
  margin: 8px;
  @media screen and (max-width: 1000px) {
    margin-top: 20px;
  }

  &__error-border {
    border: solid 1px #E32B2B !important;
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    margin-bottom: 8px;
  }

  &__error {
    position: absolute;
    left: 0;
    top: 65px;
    color: #E32B2B;
  }

  &__block {
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 8px;
    height: 60px;
    padding-left: 10px;
    outline: none;
    transition: .25s;
    display: flex;
    align-items: center;
    padding-right: 10px;
    cursor: pointer;
    min-width: 220px;
    justify-content: space-between;

    p {
      font-weight: 500;
      font-size: 20px;
      color: $base-dark;
      margin: 0;
    }

    svg {
      margin-left: 10px;
    }
  }

  &__options {
    background-color: white;
    border-radius: 8px;
    position: absolute;
    top: 65px;
    left: 0;
    box-shadow: 0 6px 10px rgb(18 55 111 / 15%);
    padding-top: 10px;
    z-index: 10;

    p {
      font-weight: 500;
      font-size: 20px;
      padding: 0 10px;
      white-space: nowrap;
      cursor: pointer;
    }

    p:hover {
      background-color: $base-color;
      color: white;
    }
  }

}

.need-resources-form {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: grid;

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
  }
}

.need-resources-title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 50px;
}

.need-resources-form-second {
  display: flex;
  margin-top: 60px;
  position: relative;
  margin-bottom: 100px;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    margin-bottom: 150px;
    padding: 8px;

    > div:last-child {
      margin-top: 10px;

      button {
        width: 100%;
        margin-top: 50px;
      }
    }
  }
}

.phone-field {
  margin: 0 8px;
  width: 100%;
  position: relative;
  font-family: 'Poppins', sans-serif;
  @media screen and (max-width: 500px) {
    width: auto !important;
    margin: 0;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
    position: absolute;
    left: 0;
    top: -40px;
  }

  &__error {
    color: #E32B2B;
    position: absolute;
    left: 0;
    top: 60px;
  }

  &__error-styles {
    .form-control {
      border: solid 1px red !important;
    }

    .flag-dropdown {
      border-left: solid 1px red !important;
      border-top: solid 1px red !important;
      border-bottom: solid 1px red !important;
    }

    .selected-flag {
      border: solid 1px transparent;
    }
  }

  .form-control {
    height: 56px !important;
    border-radius: 8px !important;
    width: inherit !important;
  }

  .form-control:focus {
    box-shadow: none !important;
  }

  .react-tel-input {
    height: 56px !important;
  }

  .flag-dropdown {
    border-radius: 8px 0 0 8px !important;
  }

  .selected-flag {
    border-radius: 8px 0 0 8px !important;
  }

  .country-list {
    border-radius: 8px !important;
  }
}

.need-resources-page-title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.need-resources-page-logo {
  @media screen and (max-width: 550px) {
    display: none !important;
  }
}

.overlay-feedback {
  width: 100vw;
  height: 110vh;
  position: fixed;
}

.overlay-feedback__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 136px);

  p {
    text-align: center;
  }

  p:nth-child(1) {
    font-weight: 700;
    font-size: 48px;
    color: $base-color !important;
  }

  p:nth-child(2) {
    font-weight: 600;
    font-size: 24px;
  }

  p:nth-child(3) {
    font-weight: 500;
    font-size: 20px;
  }
}

.have-resources-content {
  background: none;
  display: flex;
  justify-content: center;

  > div:first-child {
    max-width: 790px;
    width: 100%;
    margin-top: 50px;
  }

  &__error-text {
    font-weight: 500;
    font-size: 16px;
    color: #E32B2B;
  }

  &__phone {
    margin-top: 85px;
    .phone-field__title {
      font-weight: 700;
      font-size: 24px;
      top: -45px;
    }
    .phone-field {
      margin: 0;
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 16px 0;

  input {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  label {
    cursor: pointer;
    color: $base-dark;
    margin-left: 10px;
    padding: 3px 7px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
  }
}

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 16px 0;

  input {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  label {
    cursor: pointer;
    color: $base-dark;
    background-color: #D2F6C6;
    margin-left: 10px;
    padding: 3px 7px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
  }
}

.have-resources-button {
  width: inherit;
  margin-bottom: 100px;
  margin-top: 30px;
  button {
    width: inherit !important;
  }
}

.policy-checkbox {
  input {
    min-height: 20px;
    min-width: 20px;
  }
  a {
    margin-left: 15px;
    font-weight: 500;
    font-size: 20px;
  }

}