@import "colors";

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: $dark;
}

.button {
  padding: 14px 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: $base-color;
  border-radius: 12px;
  border: solid 2px $base-color;
  cursor: pointer;
  transition: 0.15s;
  width: fit-content;
  white-space: nowrap;
}

.button:hover {
  border: solid 2px #7FABED;
}

////////// Main page
.header {
  height: 136px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(128.52deg, #FFFFFF -42.56%, #EEF9FC 134.44%);
  box-shadow: 0 6px 10px rgba(18, 55, 111, 0.15);

  &__container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1250px) {
      padding: 0 20px;
    }
  }

  &__select-lang {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 45px;
    cursor: pointer;

    @media screen and (max-width: 500px) {
      margin-right: 0;
      margin-left: 15px;
    }


    svg {
      margin-left: 12px;
      transition: 0.25s;
    }

    svg.active {
      transform: rotate(180deg);
    }

    p {
      font-weight: 500;
      font-size: 16px;
      color: $base-dark;
      margin: 0;
      text-transform: uppercase;
    }
  }

  &__lang-list {
    display: none;
    position: absolute;
    background: white;
    flex-direction: column;
    border-radius: 8px;
    right: 20px;
    top: 15px;
    box-shadow: 0 6px 10px rgba(18, 55, 111, 0.15);

    @media screen and (max-width: 500px) {
      right: 5px;
    }

    p {
      margin: 5px 10px;
      transition: 0.25s;
    }

    p:hover {
      transform: scale(1.2);
    }
  }

  &__lang-list.active {
    display: flex;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__help-button {
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
}

.wrapper {
  background: linear-gradient(115.85deg, #FFFFFF 0%, #EEF9FC 100%);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    @media screen and (max-width: 1250px) {
      padding: 0 20px;
    }

    background: left 44% top 3% no-repeat url('../images/icons/background-icons/1.svg'),
    right 3% top 16% no-repeat url('../images/icons/background-icons/2.svg'),
    left top 17% no-repeat url('../images/icons/background-icons/3.svg'),
    right top 37% no-repeat url('../images/icons/background-icons/4.svg'),
    left 5% bottom 10% no-repeat url('../images/icons/background-icons/5.svg'),
    right bottom 11% no-repeat url('../images/icons/background-icons/6.svg');

    @media  screen and (max-width: 1000px){
      background: left 44% top 1% no-repeat url('../images/icons/background-icons/1.svg'),
      right 3% top 12% no-repeat url('../images/icons/background-icons/2.svg'),
      left 2% top 13% no-repeat url('../images/icons/background-icons/3.svg'),
      right 2% top 37% no-repeat url('../images/icons/background-icons/4.svg'),
      left 5% bottom 10% no-repeat url('../images/icons/background-icons/5.svg'),
      right bottom 11% no-repeat url('../images/icons/background-icons/6.svg');
    }

    @media  screen and (max-width: 800px){
      background: left 24% top 0.5% no-repeat url('../images/icons/background-icons/1.svg'),
      right 3% top 18% no-repeat url('../images/icons/background-icons/2.svg'),
      left 2% top 17% no-repeat url('../images/icons/background-icons/3.svg'),
      right 2% top 37% no-repeat url('../images/icons/background-icons/4.svg'),
      left 5% bottom 10% no-repeat url('../images/icons/background-icons/5.svg'),
      right bottom 11% no-repeat url('../images/icons/background-icons/6.svg');
    }

    @media  screen and (max-width: 450px){
      background: left 4% top 0.1% no-repeat url('../images/icons/background-icons/1.svg'),
      right 3% top 10% no-repeat url('../images/icons/background-icons/2.svg'),
      left 2% top 17% no-repeat url('../images/icons/background-icons/3.svg'),
      right 2% top 37% no-repeat url('../images/icons/background-icons/4.svg'),
      left 5% bottom 11.5% no-repeat url('../images/icons/background-icons/5.svg'),
      right bottom 8% no-repeat url('../images/icons/background-icons/6.svg');
    }

  }

  &__header-img {
    border-radius: 40px;
  }

  &__header-img-container {
    display: flex;
    justify-content: center;
  }

  &__page-title-container {
    margin-top: 80px;

    @media screen and (max-width: 500px) {
      margin-top: 0;
    }
  }

  &__page-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;


    @media screen and (max-width: 768px) {
      margin-bottom: 140px;
      align-items: center;

      h1 {
        text-align: center;
      }
    }

    h1 {
      font-weight: 700;
      font-size: 42px;
    }

    p {
      font-weight: 700;
      font-size: 24px;
    }
  }

  &__who-we-are {
    margin-top: 140px;


    h2 {
      font-weight: 700;
      font-size: 34px;
      text-align: center;
    }

    &__feedback.second {
      @media screen and (max-width: 768px) {
        margin-top: 100px;
      }
    }

    &__feedback {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 50px;

      p {
        text-align: center;
        margin: 0;
      }

      p:first-child {
        font-weight: 700;
        font-size: 24px;
        color: $base-color;
        margin-bottom: 24px;
      }

      button {
        margin-top: 24px;
      }
    }

  }

  &__who-we-are > p {
    margin-top: 40px;
    font-weight: 500;
    font-size: 20px;
  }

  &__what-we-do {
    margin-top: 140px;

    h2 {
      font-weight: 700;
      font-size: 34px;
      text-align: center;
      margin: 0;
      margin-bottom: 40px;
    }

    p {
      font-weight: 600;
      font-size: 24px;
    }

    li {
      font-weight: 400;
      font-size: 20px;
    }

    &__photo-set {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 20px;

      @media screen and (max-width: 750px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
      }

      @media screen and (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;

        div {
          display: flex;
          justify-content: center;
        }
      }

      div {
        border-radius: 20px;

        img {
          border-radius: 20px;
        }
      }
    }
  }

  &__socials-info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-weight: 600;
      font-size: 24px;
      margin: 0;
      text-align: center;
    }

    div {
      margin-top: 34px;
      display: flex;
      width: 300px;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 400px) {
        width: 250px;
      }
    }
  }

  &__financial-aid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;

    h3 {
      font-weight: 700;
      font-size: 34px;
      margin: 0;
      text-align: center;
    }

    p {
      margin: 0;
      margin-top: 24px;
      font-weight: 400;
      font-size: 20px;
      text-align: center;
    }

    button {
      margin-top: 24px;
    }
  }

  &__our-team {

    margin: 140px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-weight: 700;
      font-size: 34px;
      margin: 0;
    }

    div {
      display: flex;
      margin-top: 40px;

      @media screen and (max-width: 850px) {
        flex-direction: column;
      }

      a {
        display: flex;
        flex-direction: column;
        height: 134px;
        width: 380px;
        border: 1px solid #D1C4C4;
        border-radius: 10px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        margin: 10px;

        @media screen and (max-width: 850px) {
          width: 300px;
        }

        p:first-child {
          font-weight: 700;
          font-size: 24px;

          color: $dark;
        }

        p:last-child {
          font-weight: 500;
          font-size: 20px;
          color: $base-color;
          text-decoration-line: underline;
        }
      }
    }
  }

  .footer {
    background-color: #4E4D4D;
    width: 100%;
    display: flex;
    justify-content: center;

    &__container {
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      padding-top: 40px;
      width: 100%;
      @media screen and (max-width: 1250px) {
        padding: 0 20px;
        padding-top: 40px;
      }

      &__first {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 32px;
        border-bottom: 1px solid white;

        @media screen and (max-width: 830px) {
          flex-direction: column;
        }

        &__socials {
          display: flex;

          @media screen and (max-width: 830px) {
            margin: 30px 0;
          }

          @media screen and (max-width: 450px) {
            flex-direction: column;
            align-items: center;
            div {
              margin: 0 !important;
            }
          }

          p {
            font-weight: 400;
            font-size: 16px;
            color: white;
            margin: 0;

            @media screen and (max-width: 450px) {
              margin-bottom: 20px;
            }

          }
        }

        &__socials > div {
          display: flex;
          width: 100px;
          justify-content: space-between;
          align-items: center;
          margin-left: 22px;
        }
      }

      &__second {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        @media screen and (max-width: 400px) {
          flex-direction: column;
        }

        p {
          color: #D1C4C4;
          font-weight: 400;
          font-size: 16px;
          margin: 0;
          @media screen and (max-width: 400px) {
            margin-bottom: 20px;
          }
        }

        a {
          color: #D1C4C4;
          font-weight: 400;
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }
}